<footer class="site-footer">
  <div class="container">
    <div class="site-footer__content">
      <h3>Test the <span class="brand-color">Powerly</span> prototype here</h3>
      <iframe width="442" height="935" src="//invis.io/7FGMYHARJHB" frameborder="0" allowfullscreen></iframe>
      <hr>
      <p>
        Powerly is a concept app used as a submission to the Hyper Island 2018 Application Task. Questions? Email <a href="mailto:hej@samuellie.se">hej@samuellie.se</a>.
      </p>
    </div>
  </div>
</footer>
